{% extends "rest_framework/base.html" %}
{% load staticfiles %}

{#{% block bootstrap_theme %}#}
{#        <link rel="stylesheet" type="text/x-scss" href="{% static "rest_framework/scss/main.scss" %}" />#}
{#{% endblock %}#}

{% block content %}
{#Add an HTML dashboard page as the root URL that shows the total number of Users,#}
{#    Questions, and Answers in the system, as well as Tenant API request counts for all Tenants.#}
{#    Style it enough to not assault a viewer's sensibilities.#}

{#    Total Users: {{ user_count }}#}
{#    Total Questions: {{ question_count }}#}
{#    Total Answers: {{ answer_count }}#}



{% endblock %}